<component name="ArtifactManager">
  <artifact type="war" name="springmvc-starter:war">
    <output-path>$PROJECT_DIR$/springmvc-starter/target</output-path>
    <root id="archive" name="springmvc-starter.war">
      <element id="artifact" artifact-name="springmvc-starter:war exploded" />
    </root>
  </artifact>
</component>